* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #292929;
    --secondary: #006D77;
    --background: #D9D9D9;
    --accent: #556B2F;
    --neutral: #F0F0F0;
}

#thumb {
    width: 150px;
    margin-top: 15px;
    border-radius: 15px;
}

.my_side {
    height: 100%;
    box-shadow: var(--primary) 0px 5px 15px;
}

a {
    color: inherit;
    text-decoration: none;

    span {
        font-size: 0.9rem;

        &:hover {
            color: var(--secondary);
        }
    }
}

.my_txt_primary {
    color: var(--primary);
}

.my_bg {
    background-color: var(--background);
    color: var(--primary);
}

.secondary_bg {
    background-color: var(--secondary);
    color: var(--primary);
}

.neutral_bg {
    background-color: var(--neutral);
    color: var(--primary);
}

.accent_bg {
    background-color: var(--accent);
    color: var(--primary);
}

.my_icon {
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--background);
    background-color: var(--secondary);
    padding: 10px 12px;
}


.my_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;

    .my_sidebar {
        width: 220px;
        box-shadow: var(--primary) 0px 5px 15px;
        height: 100%;
        background-color: var(--primary);
        transition: width 1s ease;

        .logo-container {
            width: 100%;
            display: flex;
            align-items: center;
        }

        ul.nav-pills2 li a span {
            display: none;
        }

        // Media query
        @media (max-width: 568px) {
            width: 50px;

            .logo-container {
                justify-content: center;
            }

            img {
                width: 40px;
            }

            ul.nav-pills {
                display: none;
            }

            ul.nav-pills2 li a span {
                display: block;
                font-size: 1.4rem;
            }

            ul.nav-pills li a {
                justify-content: center;
            }
        }
    }

    .my_container {
        width: 100%;
        overflow-y: auto;
        transition: width 1s ease;
    }

    #with_sidebar {
        width: calc(100% - 220px);
        transition: width 1s ease;
    }

    @media (max-width: 568px) {
        #with_sidebar {
            width: calc(100% - 80px);
        }
    }
}

@media (max-width: 568px) {

    .btn-resp {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper {
        padding: 0;
    }

    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;

        .row {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col-12 {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col-6 {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col-4 {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col-3 {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}



// REGOLE DASHBOARD

input[type="checkbox"]+.btn-custom {
    border: 1px solid var(--primary);
    // background-color: var(--secondary);
    color: black;
}

input[type="checkbox"]:checked+.btn-custom {
    background-color: var(--secondary);
    color: white;
}

// .btn{
//     $btn-primary-bg :var(--secondary);
// }

div {
    .form-check-input:checked {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }
}

a.custom-show,
button.custom-show {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--neutral);

    &:hover {
        background-color: #048d9a;
        border: 1px solid #048d9a;
        color: var(--neutral);
    }
}

button.custom-edit,
a.custom-edit {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--neutral);

    &:hover {
        background-color: #4c4c4c;
        border: 1px solid #4c4c4c;
        color: var(--neutral);
    }
}

a.custom-delete,
button.custom-delete {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: var(--neutral);

    &:hover {
        background-color: #6c873c;
        border: 1px solid #556B2F;
        color: var(--neutral);
    }
}

td {
    span.custom-delete {
        background-color: var(--accent) !important;
        border: 1px solid var(--accent);
    }
}

.bg-toast {
    background-color: var(--accent) !important;
    color: #F0F0F0 !important;
}

.pic {
    width: 30% !important;
    margin: 0 auto;

    img {
        height: 100%;
    }
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: var(--neutral) !important;
    background-color:var(--secondary);
    border-color: var(--neutral);
}

.page-link.active, .active > .page-link{
    background-color: var(--secondary) !important;
    border: var(--neutral);
    color: var(--neutral) !important;
}

.page-link{
    color: var(--primary) !important;
}



// pagina messaggi

.messages-title{
    display: inline-block;
}

span.number{
    background-color: var(--accent);
    border-radius: 50%;
    padding: 0.2em 0.7em;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

table{

    .message-cell{
        padding: 5em 0 !important;

        // i{
        //     font-size: 20px;
        // }
    }

}

.modal{
    .message-date{
        font-size: 14px;
    }

    .message-text{
        border-bottom: var(--bs-modal-header-border-width) solid var(--accent);
        border-top: var(--bs-modal-header-border-width) solid var(--accent);
        padding: 2em  0;
        max-height: 800px;
        overflow: auto;
    }
}
