* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{

    a{
        color: black;
        text-decoration: none;
    }
}


:root {
    --primary: #292929;
    --secondary: #006D77;
    --background: #D9D9D9;
    --accent: #556B2F;
    --neutral: #F0F0F0;
}

.loader-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.loader {
    width: 160px;
    height: 80px;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    inset: 0 0 -100%;
    background:
        radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/20px 20px,
        radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/17px 17px,
        radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/20px 20px,
        linear-gradient(#9eddfe 50%,#020308 0);
    background-repeat: no-repeat;
    animation: l5 2s infinite;
    }
    @keyframes l5 {
    0%,20%   {transform: rotate(0)}
    40%,60%  {transform: rotate(.5turn)}
    80%,100% {transform: rotate(1turn)}
}

.hidden{
    display: none !important;
}

#thumb {
    width: 150px;
    margin-top: 15px;
    border-radius: 15px;
}

.my_side {
    height: 100%;
    box-shadow: var(--primary) 0px 5px 15px;
}

.my_sidebar{
    a {

        span {

            &:hover {
                color: var(--secondary);
            }
        }
    }
}
a {
    color: inherit;
    text-decoration: none;

    span {
        font-size: 0.9rem;
    }
}

.my_txt_primary {
    color: var(--primary);
}

.my_txt_secondary {
    color: var(--secondary);
}

.my_txt_accent {
    color: var(--accent);
}

.my_bg {
    background-color: var(--background);
    color: var(--primary);
}

.secondary_bg {
    background-color: var(--secondary);
    color: var(--primary);
}

.neutral_bg {
    background-color: var(--neutral);
    color: var(--primary);
}

.accent_bg {
    background-color: var(--accent);
    color: var(--primary);
}

.my_icon {
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--background);
    background-color: var(--secondary);
    padding: 10px 12px;
}


.my_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;

    .my_sidebar {
        width: 220px;
        box-shadow: var(--primary) 0px 5px 15px;
        height: 100%;
        background-color: var(--primary);
        transition: width 1s ease;

        .logo-container {
            width: 100%;
            display: flex;
            align-items: center;
        }

        ul.nav-pills2 li a span {
            display: none;
        }

        // Media query
        @media (max-width: 767px) {
            display: none;
        }
    }

    .my_container {
        width: 100%;
        overflow-y: auto;
        transition: width 1s ease;
    }

    #with_sidebar {
        width: calc(100% - 220px);
        transition: width 1s ease;
    }

}


// @media (max-width: 568px) {

//     .btn-resp {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     .wrapper {
//         padding: 0;
//     }

//     .container-fluid {
//         padding: 0 !important;
//         margin: 0 !important;

//         .row {
//             padding: 0 !important;
//             margin: 0 !important;
//         }

//         .col {
//             padding: 0 !important;
//             margin: 0 !important;
//         }

//         .col-12 {
//             padding: 0 !important;
//             margin: 0 !important;
//         }

//         .col-6 {
//             padding: 0 !important;
//             margin: 0 !important;
//         }

//         .col-4 {
//             padding: 0 !important;
//             margin: 0 !important;
//         }

//         .col-3 {
//             padding: 0 !important;
//             margin: 0 !important;
//         }
//     }
// }



// REGOLE DASHBOARD

input[type="checkbox"]+.btn-custom {
    border: 1px solid var(--primary);
    // background-color: var(--secondary);
    color: black;
}

input[type="checkbox"]:checked+.btn-custom {
    background-color: var(--secondary);
    color: white;
}

// .btn{
//     $btn-primary-bg :var(--secondary);
// }

div {
    .form-check-input:checked {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }
}

a.custom-show,
button.custom-show {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--neutral);

    &:hover {
        background-color: #048d9a;
        border: 1px solid #048d9a;
        color: var(--neutral);
    }
}

button.custom-show-reverse {
    background-color: var(--neutral);
    border: 1px solid var(--secondary);
    color: var(--secondary);

    &:hover {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
        color: var(--neutral);
    }
}

.add-button{
    max-width: 100%;
}

.sponsorship-card.selected {
    border: 2px solid var(--secondary);
}

button.custom-edit,
a.custom-edit {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--neutral);

    &:hover {
        background-color: #4c4c4c;
        border: 1px solid #4c4c4c;
        color: var(--neutral);
    }
}

a.custom-delete,
button.custom-delete, small.custom-delete {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: var(--neutral);

    &:hover {
        background-color: #6c873c;
        border: 1px solid #556B2F;
        color: var(--neutral);
    }
}

span.custom-delete {
    background-color: var(--accent) !important;
    border: 1px solid var(--accent);
}

.bg-toast {
    background-color: var(--accent) !important;
    color: #F0F0F0 !important;
}

.pic {
    width: 85% !important;
    margin: 0 auto;

    img {
        height: 100%;
    }
}

// select.form-control{
//     option:hover {
//         color: var(--primary) !important;
//         background: var(--accent) !important;
//     }
// }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: var(--neutral) !important;
    background-color:var(--secondary);
    border-color: var(--neutral);
}

.page-link.active, .active > .page-link{
    background-color: var(--secondary) !important;
    border: var(--neutral);
    color: var(--neutral) !important;
}

.page-link{
    color: var(--primary) !important;
}

.form-control:focus{
    border-color: var(--accent) !important;
    box-shadow: 0 0 0 0.25rem rgba(85, 107, 47, 0.6) !important;
}


// pagina messaggi

.messages-title{
    display: inline-block;
}

span.number{
    background-color: var(--accent);
    border-radius: 50%;
    padding: 0.2em 0.7em;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

table{

    .mytable-cell{
        padding: 3.5em 0 !important;

        // i{
        //     font-size: 20px;
        // }
    }

}

.modal{
    .message-date{
        font-size: 14px;
    }

    .message-text{
        border-bottom: var(--bs-modal-header-border-width) solid var(--accent);
        border-top: var(--bs-modal-header-border-width) solid var(--accent);
        padding: 2em  0;
        max-height: 800px;
        overflow: auto;
    }
}

.messages-list-show{
    list-style: none;
}

.my_border_hover {
    &:hover {
        border: 2px solid var(--secondary) !important;
    }
}

// Regole Header

.main-container{

    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 20px;

    @media (max-width: 767px) {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .dropdown-menu {
        position: absolute !important;
        left: 0 !important;
    }
}

header{
    .guest-nav{
        width: 100%;
        background-color: var(--primary) !important;
        color: var(--neutral) !important;
        @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
        }

        a{
            color: var(--neutral) !important;
        }

        .dropstart{
            .dropdown-toggle::before{
                display: none;

            }
        }

        .navbar-toggler{
            border-color: var(--neutral) !important;
        }

        .navbar-toggler-icon {
            --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M2 2.5h12M2 8h12M2 13.5h12'/%3E%3C/svg%3E");
          }

        .offcanvas-header{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
        }

        .offcanvas-body{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
        }

        .dropdown-menu{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
            border-color: var(--neutral) !important;

            .dropdown-item:hover{
                background-color: var(--secondary) !important;
            }
        }
}
}



header{

    .my-nav{
        margin-left: 220px; /* Stessa larghezza della sidebar */
        width: calc(100% - 220px); /* Adatta la larghezza */
        z-index: 1030;
        background-color: var(--primary) !important;
        color: var(--neutral) !important;
        @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
        }

        a{
            color: var(--neutral) !important;
        }

        .dropstart{
            .dropdown-toggle::before{
                display: none;

            }
        }

        .navbar-toggler{
            border-color: var(--neutral) !important;
        }

        .navbar-toggler-icon {
            --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M2 2.5h12M2 8h12M2 13.5h12'/%3E%3C/svg%3E");
          }

        .offcanvas-header{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
        }

        .offcanvas-body{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
        }

        .dropdown-menu{
            background-color: var(--primary) !important;
            color: var(--neutral) !important;
            border-color: var(--neutral) !important;

            .dropdown-item:hover{
                background-color: var(--secondary) !important;
            }
        }
    }
}

.my_number {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: var(--accent);
    border-radius: 50%;
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--neutral);
        font-size: 20px;
    }
}


